body{
    background-image: url(../images/forest-3622519_1920.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

main{
    display: inline-block; /*Es inline-block ya que quieres que se comporte como bloque y que esté en linea*/
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color: rgba(23, 54, 23, 0.795);
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;

}


img{
    margin-top: 10px;
    width: 80px;
    height: 80px;
}

p{
    color: white;
}